# MQTT Configuration
MQTT_BROKER=tcp://localhost:1883
CLIENT_ID=goku-consumer
TOPIC=urls

# Application Configuration
BATCH_SIZE=10

# API Configuration
API_ENDPOINT=http://127.0.0.1:8090//api/v1/upload

# Add any other environment-specific variables below
# DATABASE_URL=
# LOG_LEVEL=
# DEBUG=
